<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<ul>
    <% @articles.each do |article| %>
        <li>
            Titulo del <%= article.id %>°: "<%= article.title %>" - Body: "<%= article.body %>"
        </li>
    <% end %>
</ul>